* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --text-color: white;
    --stroke-color: rgba(255, 255, 255, 0.5); 
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(imagens/moon-stars.svg);
    background: linear-gradient(90deg, #004aad, #cb6ce6);

    
}

.light {
    --text-color: black;
    background: linear-gradient(90deg, #f6b8f5, #ffa9f9);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(imagens/sun.svg);
}
body {
    width: 100%;
    height: 100vh;
    color: var(--text-color);
    font-family: 'Sofia Sans Condensed', sans-serif;
    }

#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
    border: 1px solid rgb(255, 255, 255);
    background-image: url(./imagens/fundo-roxo.jpg);


}

#profile {
    text-align: center;
    padding: 24px;
    
}

#profile img {
    width: 112px;
    border-radius: 100%;
    border: 2px solid white;


}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
    
}
.project-h1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px 0 0 10px;
    color: var(--text-color);
    
}

#switch {
    position: relative;
    width: 64px;
    
    margin: 4px auto;
}

#switch button {
    width: 32px;    
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.4s;

}

.light #switch button {
    animation: slide-in 0.4s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px; 
    padding: 24px 0;
    align-items: center;
    

    
    
}
li {
    width: 100%;
    
}


ul li a {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px 24px;  
    color: var(--text-color);
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
    
}

#social-links {
    display: flex;
    justify-content: center;

    padding: 5px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    color: var(--text-color);
    transition: background 0.1s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);

}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }

}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to { left: 0;;

    }
}