* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(0, 0, 0);
    --stroke-color: rgba(255, 255, 255, 0.5); 
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    background: linear-gradient(90deg, #f6b8f5, #ffa9f9);
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
    
}

body {
    width: 100%;
    height: 100vh;
    color: var(--text-color);
    font-family: 'Sofia Sans Condensed', sans-serif;
    }
    
#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0 24px;
    border: 1px solid var(--text-color);
    box-shadow: 8px 5px 30px black;
}

section {
    column-count: 2;
    column-gap: 10px;
}

img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
    box-shadow: 2px 3px 6px 2px;
}
h1 {
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 6px 2px;
    margin: 10px auto 15px;
    
}